*.class
*._trace
*.xtendbin
*.DS_Store
*.log
*.tmp
code_coverage.html
**/target
**/bin
**/test-output
**/xtend-gen
**/xtext-gen
**/.sonar
**/.project
**/.classpath
**/.settings
**/.scannerwork
**/.idea
**/.vscode

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# SonarQube and utPLSQL
junit_test_results.xml
test_results.xml
coverage.xml
coverage.html
coverage.html_assets
.scannerwork
tvdcc_report.json

# sqlcl, utplsql-cli, db* COODECOP
.tools
